body{
    background-color: rgba(43, 33, 33, 0.489);
}
.header{
    text-align: center;
    font-size: x-large;
}
.paragraph{
    align-content: center;
    display: block;
    max-width: 45vw;
    padding: 20px;
    background-color: rgb(162, 173, 170);
    margin-left: 28%;
    margin-top: 5%;
    list-style: circle;
    border-radius: 3%;
    background-image: url(why.png);
    background-repeat: no-repeat;
    background-position: center;
}
.image{
    top: 20px;
    left: 10px;
}
